@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,900;1,200;1,300;1,500;1,700&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Quicksand";
    color: #333;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;